@font-face {
  font-family: "HarryPotter";
  src: url("./assets/fonts/HarryPotter.TTF") format("truetype");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif !important;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}

.removed-background {
  mix-blend-mode: multiply;
}
